@import '~@papillonbits/css/build/primer/support/mixins/layout.scss';
@import '../../../index.scss';

.container {
  @include container;
}

.alert {
  margin-bottom: -20px;
}

.content {
  // border: 1px solid black;

  // &Board {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   &Slate {
  //     // border: 2px solid green;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     height: 300px;
  //     width: 300px;
  //   }
  // }

  &Display {
    display: flex;
    flex-direction: column;

    &Navigation {
      border-style: none;
      margin-top: 25px;

      @include breakpoint(md) {
        margin-top: 0;
      }

      &Container {
        margin-top: 25px;

        @include breakpoint(md) {
          margin-top: 0;
        }
      }
    }

    &Grid {
      &Credentials {
        margin: 20px 0;
        min-width: 768px;
      }

      &Keys {
        margin-top: 25px;
        min-width: 544px;
      }
    }

    &Pagination {
      display: flex;
      justify-content: flex-start;
      margin: 0;

      @include breakpoint(md) {
        justify-content: flex-end;
      }
    }

    &Edit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;

      @include breakpoint(md) {
        flex-direction: row;
      }

      &Field {
        display: flex;
        margin-top: 5px;

        &Label {
          margin-right: 5px;
          padding: 5px;
          border-radius: 6px;
          min-width: 300px;
        }

        &Dropdown {
          summary {
            width: 300px;
          }
        }

        &Input {
          width: 300px;
        }

        &Checkbox {
          input[type='checkbox'] {
            margin: 10px 0 0 -20px;
          }
        }
      }
    }

    &Action {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      &Group {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint(md) {
          flex-direction: row;
          align-items: space-between;
        }

        &Button {
          width: 100%;
          margin: 0 0 1em;
          min-width: 300px;

          @include breakpoint(md) {
            margin: 0 1em 1em 0;

            &:last-child {
              margin: 0 0 1em;
            }
          }
        }
      }
    }
  }
}
