@import '~@papillonbits/css/build/primer/support/mixins/layout.scss';
@import '../../../index.scss';

.container {
  @include container;
}

.alert {
  margin-bottom: -20px;
}

.content {
  &Display {
    display: flex;
    flex-direction: column;

    &Grid {
      &Instances {
        margin: 20px 0;
        min-width: 544px;
      }
    }

    &Pagination {
      display: flex;
      justify-content: flex-start;
      margin: 0;

      @include breakpoint(md) {
        justify-content: flex-end;
      }
    }

    &Edit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;

      @include breakpoint(lg) {
        flex-direction: row;
      }

      &Field {
        display: flex;
        margin-top: 5px;

        &Label {
          margin-right: 5px;
          padding: 5px;
          border-radius: 6px;
          min-width: 300px;
        }

        &Input {
          width: 300px;
        }
      }
    }

    &Action {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      &Group {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint(lg) {
          flex-direction: row;
          align-items: space-between;
        }

        &Button {
          width: 100%;
          margin: 0 0 1em;
          min-width: 300px;

          @include breakpoint(lg) {
            margin: 0 1em 1em 0;

            &:last-child {
              margin: 0 0 1em;
            }
          }
        }
      }
    }
  }
}
